/*table {
margin: 0 auto;
font-size: large;
border: 1px solid black;
}

h1 {
text-align: center;
color: #006600;
font-size: xx-large;
font-family: 'Gill Sans', 'Gill Sans MT', ' Calibri', 'Trebuchet MS', 'sans-serif';
}

td {
background-color: #E4F5D4;
border: 1px solid black;
}

th,
td {
font-weight: bold;
border: 1px solid black;
padding: 10px;
text-align: center;
}

td {
font-weight: lighter;
}
th, td, p, input {
    font:14px Verdana;
}
table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
}
*/

td {
    cursor: pointer;
    font-size: 22px;
  }
  
  td.selected {
    background-color: rgb(223, 219, 33);
  }
  
  table::selection,
  tr::selection,
  td::selection {
    background-color: rgb(99, 22, 199);
  }